.btn{
	width: 40px;
	height: 40px;
	background-color: grey;
	border:none;
	font-size: 15px;
	text-align: center;
}

input{
	background-color: white;
	border:none;
	text-align: right;
	font-size: 28px;
	width: 175px;
	padding-top: 2px;
}
#answer{
	width: 80px;
	height: 40px;
	background-color: grey;
}


.container{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
}

.bg{
	background: linear-gradient(to right, red, blue);
	height: 100%;
}